body {
    font-family: "Roboto",sans-serif;
}
.top-box{
    background-color: #1F2937;
    padding:0 48px 48px;
}
.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}
.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style-type: none;
    gap: 24px;
    margin-left:auto;
}
.second-box{
    margin: 40px auto;
}
.hero{
    display: flex;
}
.hero-left{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}
button {
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3882F6;
    max-width: 128px;
    border-radius: 10px;
}
.hero-img{
    flex: 1;
    background-color: gray;
    color: #E5E7EB;
}
.cards-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.card-img{
    border: 6px solid #3882F6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}
.card{
    max-width: 162px;
    text-align: center;
}
.third-box{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background-color: #E5E7EB;
    margin: 150px auto;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}
.the-quoted{
    font-size: 18px;
    color: #1F2937;
    margin-left: auto;
}